/* styles.css */
/* universal selector - Applies to whole document */
*{

	padding: 0;
  
	margin: 0;
  
	color: rgb(0, 0, 0);
  }
  /* To center everything in game */
  .game{
  
    background-color: #795c5c;
    width: 950px;
    height: 65vh;
    max-height: 700px;
    max-width: 85%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  /* Title of the game */
  .title{
    text-align: center;
    font-size: 2.5rem;
  }

  /* ------------------------------------------- All buttons */

.btn {
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
	font-weight: bold;
    letter-spacing: 1.2px;
    color: white;
	margin: 20px;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 1.0rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
	content: attr(data-type);
	font-size: 1rem;
	color: #445361;
	position: relative;
	left: -0.5em;
}

/* ------------------------------------------- buttons style */

.btn--brown {
    border-color: rgb(185, 138, 49);
    color: rgb(185, 138, 49);
}

.btn--brown:active,
.btn--brown:hover {
    background-color: rgb(73, 45, 11);
    color: white;
}

.btn--grey {
    border-color: rgb(209, 206, 202);
    color: rgb(209, 206, 202);
}

.btn--grey:active,
.btn--grey:hover {
    background-color: rgb(59, 58, 56);
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--blue {
    border-color: blue;
    color: blue;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

#your-choice {
	width: 25%;
	float: left;
	margin-left: 15%;
	margin-top: 25px;
	border-radius: 15%;
    background-color: white;
    border: 6px solid;
	height: 250px;

}

#opponent-choice {
	width: 25%;
	height: 250px;
	float: right;
	margin-right: 15%;
	margin-top: 25px;
	border-radius: 15%;
    background-color: white;
    border: 6px solid;
	
}
  
.move{
	margin-top: 300px;
	text-align: center;
	font-size: 2rem;
  
	font-weight: bold;
  }

.movesleft {
	text-align: center;
}

  /* Score Board */
  .score{

	width: 50vw;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
  }
  
  /* Score  */
  .p-count,.c-count{

	width: 50%;
    margin: 10px;

  }
  
  /* displaying three buttons in one line */
  .options{
	margin-top: 2rem;
	margin-left: 50px;
  }
  
  /* Reload button style */
  
.reload {
	display: none;

  }

#restart {
	margin-top: 30px;
	margin-left: 400px;
	text-align: center;
	font-size: 2rem;
  
	font-weight: bold;

}
  
  .result{
  
	margin-top: 50px;
  
	font-size: 1.2rem;

	text-align: center;
	font-size: 2rem;
  
	font-weight: bold;
  }
  
  /* Responsive Design */
  
  @media screen and (max-width: 612px)
  {  
  
	.title{
  
		text-align: center;
  
	}
  
	.score{
  
		position: absolute;
  
		top: 200px;
  
		width: 100vw;
  
	}
  
	.options{
  
		width: 100vw;
  
	}}